@font-face {
  font-family: "S-CoreDream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff")
    format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "S-CoreDream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff")
    format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "S-CoreDream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff")
    format("woff");
  font-weight: 600;
}

.wrap {
  max-width: 1200px;
  padding: 4rem;
  margin: 0 auto !important;
  grid-column-gap: 2.65rem;
}
.sidebar {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 2rem;
}

.sideberMenuWrap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
