.postWrap,
.writeWrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.post {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  background: #fff;
  border-radius: 10px;
  padding: 2.5rem;
  gap: 1rem;
}
.postInfo {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.postTitle {
  font-size: 1.3rem;
  font-weight: bold;
}
.postCategory {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  font-weight: bold;
}

.postAuthor {
  font-size: 1rem;
  font-weight: bold;
}
.postContents {
  margin-top: 1rem;
  white-space: pre-line;
}
.postDescription {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.postTag {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  gap: 0.05rem;
  padding-left: 0 !important;
  flex-wrap: wrap;
}
.tagWrap {
  width: auto !important;
  padding-left: 0 !important;
}
.tag {
  max-width: none !important;
}
.tagWrap :hover {
  background: #f2f2f2;
}

.tagWrap > span :hover {
  background: none;
}
.postDescription .createdAt,
.like {
  font-size: 0.8rem;
}
.postBottomDescription {
  flex-direction: row !important;
  justify-content: space-between;
}
.writeWrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible;
}

.likeWrap {
  border-radius: 10px;
  padding: 2rem 0 2rem 0;
}

.like {
  display: flex;
  justify-content: center;
}
.likeButton {
  color: black !important;
  font-size: 18px !important;
}

.likeOn {
  color: rgb(123, 123, 251) !important;
}
.unlikeOn {
  color: rgb(255, 138, 138) !important;
}
